 body {
    background-image: url('images/baseball-background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h2 {
    text-align: center;
    font-family: 'Poppins',Verdana, sans-serif;
    color: rgb(192, 37, 37);
}

.nav {
    font-family: 'Oswald',Arial, sans-serif;
    text-align: center;
    display: inline;
    text-decoration: none;
}

li {
    display: inline;
    padding: 50px;
}

#accomplishments {
    text-align: center;
}

#portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 500px;
}

figcaption {
    color: rgb(192, 37, 37);
    text-align: center;
}

#image-gallery {
    margin-top: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
}

img {
    width: 400px;
    height: 350px;
}

p {
    padding-left: 300px;
    padding-right: 300px;
}